@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-fade-in {
    animation: fadeIn 0.8s ease-out forwards;
  }

  .animate-fade-in-delayed {
    animation: fadeIn 0.8s ease-out 0.3s forwards;
    opacity: 0;
  }

  .resource-card.show {
    opacity: 1;
    transform: translateY(0);
  }

  /* Add this new rule for the general 'show' class */
  .show {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



:root {
  --primary-bg: #1a1a2e;
  --secondary-bg: #16213e;
  --accent-color: #0f3460;
  --text-color: #e94560;
  --text-light: #ffffff;
  --font-family: 'Roboto', sans-serif;
}

body {
  color: var(--text-light);
  background: var(--primary-bg);
  font-family: var(--font-family);
  line-height: 1.6;
}

button {
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background-color: var(--accent-color);
  transform: scale(1.05);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-bg: #0a0a0a;
    --secondary-bg: #171717;
    --accent-color: #1f4068;
    --text-color: #e94560;
    --text-light: #ededed;
  }
}